@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-accent: #4f709c;
  --color-yellow-01: #ffc83d;
  --color-grey-01: #848484;
  --color-grey-02: #c4c8d0;
  --color-black-01: #1d1d1d;
  --color-red-01: #ef4444;
}

* {
  font-family: "Noto Sans KR";
}
